<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjfu.forestfiremonitor.dao.AlarmrecordMapper" >
  <resultMap id="BaseResultMap" type="com.bjfu.forestfiremonitor.entity.Alarmrecord" >
    <id column="aRecId" property="arecid" jdbcType="INTEGER" />
    <result column="alarmTime" property="alarmtime" jdbcType="TIMESTAMP" />
    <result column="optLattitude" property="optlattitude" jdbcType="DOUBLE" />
    <result column="optLongtitude" property="optlongtitude" jdbcType="DOUBLE" />
    <result column="optHeight" property="optheight" jdbcType="DOUBLE" />
    <result column="isConfirm" property="isconfirm" jdbcType="INTEGER" />
    <result column="isHandled" property="ishandled" jdbcType="INTEGER" />
    <result column="mptID" property="mptid" jdbcType="INTEGER" />
    <result column="hrzAngle" property="hrzangle" jdbcType="DOUBLE" />
    <result column="userID" property="userid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    aRecId, alarmTime, optLattitude, optLongtitude, optHeight, isConfirm,
    isHandled, mptID, hrzAngle, userID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from alarmrecordtable
    where aRecId = #{arecid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from alarmrecordtable

    </select>

    <select id="selectByisConfirm" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from alarmrecordtable
        where isConfirm = #{isconfirm,jdbcType=INTEGER}
    </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from alarmrecordtable
    where aRecId = #{arecid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjfu.forestfiremonitor.entity.Alarmrecord" >
    insert into alarmrecordtable (aRecId, alarmTime, optLattitude,
      optLongtitude, optHeight, isConfirm, 
      isHandled, mptID, hrzAngle, 
      userID)
    values (#{arecid,jdbcType=INTEGER}, #{alarmtime,jdbcType=TIMESTAMP}, #{optlattitude,jdbcType=DOUBLE},
      #{optlongtitude,jdbcType=DOUBLE}, #{optheight,jdbcType=DOUBLE}, #{isconfirm,jdbcType=INTEGER}, 
      #{ishandled,jdbcType=INTEGER}, #{mptid,jdbcType=INTEGER}, #{hrzangle,jdbcType=DOUBLE}, 
      #{userid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjfu.forestfiremonitor.entity.Alarmrecord" >
    insert into alarmrecordtable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="arecid != null" >
        aRecId,
      </if>
      <if test="alarmtime != null" >
        alarmTime,
      </if>
      <if test="optlattitude != null" >
        optLattitude,
      </if>
      <if test="optlongtitude != null" >
        optLongtitude,
      </if>
      <if test="optheight != null" >
        optHeight,
      </if>
      <if test="isconfirm != null" >
        isConfirm,
      </if>
      <if test="ishandled != null" >
        isHandled,
      </if>
      <if test="mptid != null" >
        mptID,
      </if>
      <if test="hrzangle != null" >
        hrzAngle,
      </if>
      <if test="userid != null" >
        userID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="arecid != null" >
        #{arecid,jdbcType=INTEGER},
      </if>
      <if test="alarmtime != null" >
        #{alarmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="optlattitude != null" >
        #{optlattitude,jdbcType=DOUBLE},
      </if>
      <if test="optlongtitude != null" >
        #{optlongtitude,jdbcType=DOUBLE},
      </if>
      <if test="optheight != null" >
        #{optheight,jdbcType=DOUBLE},
      </if>
      <if test="isconfirm != null" >
        #{isconfirm,jdbcType=INTEGER},
      </if>
      <if test="ishandled != null" >
        #{ishandled,jdbcType=INTEGER},
      </if>
      <if test="mptid != null" >
        #{mptid,jdbcType=INTEGER},
      </if>
      <if test="hrzangle != null" >
        #{hrzangle,jdbcType=DOUBLE},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjfu.forestfiremonitor.entity.Alarmrecord" >
    update alarmrecordtable
    <set >
      <if test="alarmtime != null" >
        alarmTime = #{alarmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="optlattitude != null" >
        optLattitude = #{optlattitude,jdbcType=DOUBLE},
      </if>
      <if test="optlongtitude != null" >
        optLongtitude = #{optlongtitude,jdbcType=DOUBLE},
      </if>
      <if test="optheight != null" >
        optHeight = #{optheight,jdbcType=DOUBLE},
      </if>
      <if test="isconfirm != null" >
        isConfirm = #{isconfirm,jdbcType=INTEGER},
      </if>
      <if test="ishandled != null" >
        isHandled = #{ishandled,jdbcType=INTEGER},
      </if>
      <if test="mptid != null" >
        mptID = #{mptid,jdbcType=INTEGER},
      </if>
      <if test="hrzangle != null" >
        hrzAngle = #{hrzangle,jdbcType=DOUBLE},
      </if>
      <if test="userid != null" >
        userID = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where aRecId = #{arecid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjfu.forestfiremonitor.entity.Alarmrecord" >
    update alarmrecordtable
    set alarmTime
alarmTime = #{alarmtime,jdbcType=TIMESTAMP},
      optLattitude = #{optlattitude,jdbcType=DOUBLE},
      optLongtitude = #{optlongtitude,jdbcType=DOUBLE},
      optHeight = #{optheight,jdbcType=DOUBLE},
      isConfirm = #{isconfirm,jdbcType=INTEGER},
      isHandled = #{ishandled,jdbcType=INTEGER},
      mptID = #{mptid,jdbcType=INTEGER},
      hrzAngle = #{hrzangle,jdbcType=DOUBLE},
      userID = #{userid,jdbcType=VARCHAR}
    where aRecId = #{arecid,jdbcType=INTEGER}
  </update>
</mapper>