<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjfu.forestfiremonitor.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bjfu.forestfiremonitor.entity.User" >
    <id column="userID" property="userid" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userPwd" property="userpwd" jdbcType="VARCHAR" />
    <result column="userRight" property="userright" jdbcType="INTEGER" />
    <result column="userMail" property="usermail" jdbcType="VARCHAR" />
    <result column="userPhone" property="userphone" jdbcType="VARCHAR" />
    <result column="userDept" property="userdept" jdbcType="VARCHAR" />
    <result column="empTime" property="emptime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userID, userName, userPwd, userRight, userMail, userPhone, userDept, empTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from usertable
    where userID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from usertable
    where userID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bjfu.forestfiremonitor.entity.User" >
    insert into usertable (userID, userName, userPwd, 
      userRight, userMail, userPhone, 
      userDept, empTime)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{userright,jdbcType=INTEGER}, #{usermail,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, 
      #{userdept,jdbcType=VARCHAR}, #{emptime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjfu.forestfiremonitor.entity.User" >
    insert into usertable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userID,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="userpwd != null" >
        userPwd,
      </if>
      <if test="userright != null" >
        userRight,
      </if>
      <if test="usermail != null" >
        userMail,
      </if>
      <if test="userphone != null" >
        userPhone,
      </if>
      <if test="userdept != null" >
        userDept,
      </if>
      <if test="emptime != null" >
        empTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userright != null" >
        #{userright,jdbcType=INTEGER},
      </if>
      <if test="usermail != null" >
        #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="userdept != null" >
        #{userdept,jdbcType=VARCHAR},
      </if>
      <if test="emptime != null" >
        #{emptime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjfu.forestfiremonitor.entity.User" >
    update usertable
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        userPwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userright != null" >
        userRight = #{userright,jdbcType=INTEGER},
      </if>
      <if test="usermail != null" >
        userMail = #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="userdept != null" >
        userDept = #{userdept,jdbcType=VARCHAR},
      </if>
      <if test="emptime != null" >
        empTime = #{emptime,jdbcType=VARCHAR},
      </if>
    </set>
    where userID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjfu.forestfiremonitor.entity.User" >
    update usertable
    set userName = #{username,jdbcType=VARCHAR},
      userPwd = #{userpwd,jdbcType=VARCHAR},
      userRight = #{userright,jdbcType=INTEGER},
      userMail = #{usermail,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      userDept = #{userdept,jdbcType=VARCHAR},
      empTime = #{emptime,jdbcType=VARCHAR}
    where userID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>