
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 主页示例模板一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-card" >
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-xs12 layui-col-sm4">
                            <div class="layuiadmin-card-text" >
                                <div class="layui-text-top"><i class="layui-icon layui-icon-water"></i><span>报警记录ID </span><span th:text="${unhandeled.getArecid()}"></div>
                                <hr class="layui-bg-green">
                                <strong style="line-height:1.8em">报警时间：</strong>
                                <span style="line-height:1.8em" th:text="${unhandeled.getAlarmtime()}">火情信息1</span><br>
                                <strong style="line-height:1.8em">巡值员工ID：</strong>
                                <span style="line-height:1.8em" th:text="${unhandeled.getUserid()}">火情信息2</span><br>
                                <strong style="line-height:1.8em">监控点ID：</strong>
                                <span style="line-height:1.8em" th:text="${unhandeled.getMptid()}">火情信息3</span>
                                <br>
                                <hr>
<!--                                <a th:href="@{/appacceptfiredetailpage(arecid=${unhandeled.getArecid()})}"  type="button" class="layui-btn layui-btn-danger layui-btn-fluid">接警</a>-->
                                <button id="getarecid" th:value="${unhandeled.getArecid()}" onclick="BSL.GPS('gps')"  type="button" class="layui-btn layui-btn-danger layui-btn-fluid">接警</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'sample'])

    function gps(result){
        var val= JSON.parse(result);
        var arecid=document.getElementById("getarecid").value;

        alert("经度："+val.Longitude);
        alert("纬度："+val.Latitude);
        layui.$.ajax({
            cache:false,
            url:"doappacceptfire",
            async: false,
            type:"POST",
            dataType: "text",
            data:{'x':val.Longitude,'y':val.Latitude,'arecid':arecid},
            type:'POST',
            success :function (data) {
                layer.msg(data)
                //这后边写跳转到哪里
                //后边跳转到对应视频下边
                //window.location.href = "/resourcedetailpage"
            },
            error: function(){
                layer.msg("发生错误，请重试")
            }
        });

    }
</script>
<script type="text/javascript">


</script>
</body>
</html>