<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:max-width="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>图片</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <script src="../../../layuiadmin/layui/layui.js"></script>
</head>
<body>

<div class="layui-fluid" >
    <div class="layui-row layui-col-space10" th:each="picture:${pictureList}">
        <div class="layui-row" >
            <div class="layui-card">
                <div class="layui-col-sm6">
                    <img th:src="${picture.getImgurl()}" width="100%" height="auto">
                </div>
                <div class="layui-col-sm6" style="font-size: 2.5em " >
                    图片名称：<p th:text="${picture.getImgname()}"></p>
                    上传时间：<p th:text="${picture.getCreatetime()}"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>