<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Forest Fire Monitor</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <blockquote class="layui-elem-quote layui-bg-white">
                <strong>报警信息详情</strong>
            </blockquote>
        </div>
        <div class="layui-col-md12">

            <div class="layui-card">
                <div class="layui-card-header">
                    <p>警报ID：<span class="layui-text" th:text="${session.alarmselected.getArecid()}"></span>&nbsp;</p>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="layui-card-body">
                    <p><strong>报警时间：</strong><span class="layui-text" th:text="${session.alarmselected.getAlarmtime()}"></span></p>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p><strong>监控点ID：</strong><span class="layui-text" th:text="${session.alarmselected.getMptid()}"></span></p>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <blockquote class="layui-elem-quote layui-bg-white">
                <strong>相关视频图像</strong>
            </blockquote>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4" th:each="picture:${session.RelatedPictures}">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <p th:text="${picture.getImgid()}"></p>
                    </div>
                    <div class="layui-card-body">
                        <img th:src="${picture.getImgurl()}" width="500px" height="306px">
                    </div>
                </div>
            </div>
            <div class="layui-col-md4" th:each="video:${session.RelatedVideos}">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <p th:text="${video.getVidname()}"></p>
                    </div>
                    <div class="layui-card-body">

                        <video width="500px" height="300px" controls="controls" autoplay="autoplay">
                            <source th:src="${video.getVipurl()}" type="video/mp4" />
                            <source th:src="${video.getVipurl()}" type="video/ogg" />
                            <source th:src="${video.getVipurl()}" type="video/webm" />
                            <object th:src="${video.getVipurl()}" width="320" height="240">
                                <embed src="movie.swf" width="320" height="240" />
                            </object>
                        </video>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="layui-layout-admin">

        <div class="layui-footer" style="left: 0;">
            <!--                <button class="layui-btn layui-btn-danger">立即确认</button>-->
            <a type="button" href="/searchtable" class="layui-btn ">返回列表</a>
        </div>

    </div>
</div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'sample']);
</script>
</body>

</html>